<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ name }}</title>

    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/node_modules/font-awesome/css/font-awesome.min.css">
  </head>

  <body>
    <div id="container" class="container-fluid h-100">
      <div class="row h-100">
        <aside class="col-12 col-md-2 p-0 bg-dark">
          <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
            <div id="navItems" class="collapse navbar-collapse h-100 mh-100"></div>
          </nav>
        </aside>

        <main role="main" class="col-12 col-md-10 p-0 bg-faded">
          <div class="card">
            <h3 class="card-header text-center">{{ name }}</h3>
            <div class="card-body">
              {% if ext == 'md' %}
                <div class='markdown'>{{ content|marked }}</div>
              {% else %}
                <div><pre>{{ content }}</pre></div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script src="/static/node_modules/react/umd/react.production.min.js"></script>
    <script src="/static/node_modules/react-dom/umd/react-dom.production.min.js"></script>
    <script src="/static/node_modules/babel-standalone/babel.min.js"></script>
    
    <script type="text/babel">

      function NavItem(props) {
        const file = props.file
        return (
          <li className="nav-item">
            <a className="nav-link pl-0" href={'/' + file}>
              <i className="fa fa-sticky-note-o"></i> {file.split('.')[0]}
            </a>
          </li>
        )
      }

      class NavItems extends React.Component {
        constructor(props) {
          super(props);
          this.state = {files: this.props.files}

          this.filterFile = this.filterFile.bind(this)
        }

        filterFile(value) {
          this.setState({files: this.props.files.filter(file => file.startsWith(value))})
        }

        render () {
          return (
            <ul className="flex-md-column flex-row navbar-nav w-100 justify-content-between">
              <li className="nav-item">
                <a className="nav-link pl-0" href="https://github.com/sayanarijit/listed#readme">
                  <i className="fa fa-bullseye fa-fw"></i>  <span className="font-weight-bold">Listed</span>
                </a>
              </li>
      
              <li className="nav-item">
                <input id="filter" type="text" className="form-control bg-dark" placeholder="Search" onKeyUp={e => this.filterFile(e.target.value)}/>
              </li>
              
              {this.state.files.map((file, i) => <NavItem file={file} key={i} />)}
            </ul>
          );
        }
      }

      ReactDOM.render(
        <NavItems files={{ '{' + (files|json|safe) + '}' }} />,
        document.getElementById('navItems')
      )
    </script>

  </body>
</div>
</html>
