<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ name }}</title>

    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/node_modules/font-awesome/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Listed</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="list-group list-group-flush">
              {% for filename in files %}
                <a class="list-group-item list-group-item-action" href={{ url_for('display_file', filename=filename) }}>
                  <i class="fa fa-file-alt"></i> {{ filename.split('.')[0] }}</a>
              {% endfor %}
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="card">
            <h3 class="card-header text-center"><i class="fa fa-file-alt"></i> {{ name }}</h3>
            <div class="card-body">
              {% if ext == 'md' %}
                <div class='markdown'>{{ content|marked }}</div>
              {% else %}
                <div><pre>{{ content }}</pre></div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>


  </body>
</div>
</html>
